.view {
    background-color: #6e1a797a;
    display: grid;
    gap: 50px 10px;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto; 
    min-height: 157px;
}
.view_board{
    background-color: #79531a7a;
}