.home {
    background-color: #c72ddb42;
    display: grid;
    gap: 10px 10px;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto auto; 
}
.view_screen{
    background-color: #d476e042;
    display: grid;
    gap: 30px;
}